<template>
  <div>
    <v-card>
      <div class="card--avatar-wrapper text-xs-center">
        <v-avatar
          class="photo--shadow"
          size="100"
          color="grey lighten-4"
        >
          <img src="@/assets/photo_square.png" alt="avatar">
        </v-avatar>
      </div>
      <div class="text-xs-center">
        <h3 class="headline mb-0">廖展瑩</h3>
      </div>
      <div class="card--info-wrapper">
        
        <div>
          <p class="information--row">
            <i class="fas fa-envelope"></i>
            <a
              class="information--text link--hide-decoration"
              href="mailto:lemon5920@gmail.com"
              target="blank">
              lemon5920@gmail.com
            </a>
          </p>
          <p class="information--row">
            <i class="fab fa-gitlab"></i>
            <a
              class="information--text link--hide-decoration"
              href="https://gitlab.com/lemon5920"
              target="blank">
              @lemon5920
            </a>
          </p>
          <p class="information--row">
            <i class="fab fa-github"></i>
            <a
              class="information--text link--hide-decoration"
              href="https://github.com/lemon5920"
              target="blank">
              @lemon5920
            </a>
          </p>
          <p class="information--row">
            <i class="fab fa-linkedin"></i>
            <a
              class="information--text link--hide-decoration"
              href="https://www.linkedin.com/in/%E5%B1%95%E7%91%A9-%E5%BB%96-953470119/"
              target="blank">
              @廖展瑩
            </a>
          </p>
        </div>
      </div>
    </v-card>
  </div>
</template>

<style scoped>
.card--avatar-wrapper {
  padding-top: 16px;
  padding-bottom: 24px;
}
.card--info-wrapper{
  padding: 24px 16px 1px 16px;
}
.photo--shadow {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.information--row {
  font-size: 16px;
}
.information--text {
  margin-left: 10px;
}
.link--hide-decoration {
  text-decoration: none;
}
</style>
