<template>
  <div>
    <v-card class="card--wrapper">
      <h2 class="headline">教育背景</h2>
      <hr>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">國立暨南國際大學</span>｜資訊管理研究所</p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 九月 2015 - 一月 2018 | Puli, Taiwan</p>
      </div>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">崑山科技大學</span>｜資訊管理系</p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 九月 2011 - 八月 2015 | Tainan, Taiwan</p>
      </div>
    </v-card>
  </div>
</template>

<style scoped>
.card--wrapper {
  padding: 16px;
  margin-top: 24px;
}
.article--wrapper {
  margin-top: 18px;
  margin-bottom: 18px;
}
.paragraph {
	margin-bottom: 4px;
}
.text--date {
	color: #616161;
}
</style>
