<template>
	<div>
    <v-card class="card--wrapper">
      <h2 class="headline">經歷</h2>
      <hr>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">海外聯招委員會</span>｜研究計畫助理</p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 八月 2017 - 三月 2018 | Puli, Taiwan</p>
        <p class="paragraph">
          海外聯招委員會有開發新系統取代舊系統的需求，<br>
          我主要負責系統的前端介面開發，<br>
          工作包含切版、使用流程規劃、前後端介接等，<br>
          靜態網頁建置使用 Harp.js 搭配 EJS，<br>
          Theme Framework 採用 Bootstrap 4 做畫面呈現及 RWD 切版，讓系統能跨裝置使用，<br>
          使用者互動以 jQuery 來操作 DOM，<br>
          在邏輯較複雜的元件上，會局部引入 Vue.js 來做處理，<br>
          在與後端串接上使用 RESTful API 溝通。<br>
          <br>
          參與開發之系統
          <ul>
            <li v-for="(system, systemIndex) in systemList" :key="`sys-${systemIndex}`">
              <a
                class="link--hide-decoration"
                :href="system.url"
                target="blank">
                {{ system.label }}
              </a>
            </li>
          </ul>
          <br>
          使用技術：
          <ul>
            <li>
              Harp.js、EJS、Bootstrap、RWD、jQuery、Vue.js、RESTful API、Git
            </li>
          </ul>
        </p>
      </div>
      <hr class="hr--split-content">
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">MOLi 創新自造者開放實驗室</span>｜Keyholder</p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 九月 2015 - 一月 2018 | Puli, Taiwan</p>
        <p class="paragraph">
          常駐於 <a class="link--hide-decoration" href="https://moli.rocks/">MOLi</a>，與志同道合的朋友一起研究新事物，<br>
          或協助任何有問題而來的人，也不定期舉辦 MOLiDay 分享學習到的知識。<br>
          MOLi 發起人在系上有開設為期一年的「團隊實作與敏捷開發」課程，<br>
          我在該課擔任助教，有時也會在課堂上分享相關的知識。<br>
          <br>
          曾開設的分享會：
          <ul>
            <li v-for="(share, shareIndex) in shareList" :key="`sha-${shareIndex}`">
              <a
                class="link--hide-decoration"
                :href="share.url"
                target="blank">
                {{ share.label }}
              </a>
            </li>
          </ul>
        </p>
      </div>
    </v-card>
	</div>
</template>

<script>
export default {
  data() {
    return {
      systemList: [
        {
          label: '海外聯招學校平台',
          url: 'https://github.com/0verseas/0verDaPingTai',
        },
        {
          label: '學生報名系統',
          url: 'https://github.com/0verseas/0verStudent',
        },
        {
          label: '各校系簡章調查系統',
          url: 'https://github.com/0verseas/0verSchool',
        },
        {
          label: '個人申請制應繳資料下載系統',
          url: 'https://github.com/0verseas/0verPick',
        },
      ],
      shareList: [
        {
          label: '認識 CSS',
          url: 'https://docs.google.com/presentation/d/1j4MWV2HmJIB2_MiPThz762nye4Vb9mR1zDdg1102K88/edit#slide=id.p',
        },
        {
          label: '網頁藝術家 Bootstrap',
          url: 'https://docs.google.com/presentation/d/10sfuUWcgve-bXGv4vwBi4v3GkCZ55NiXSUt53xrALKg/edit#slide=id.p',
        },
        {
          label: '製作第一個 Vue.js Todo List',
          url: 'https://docs.google.com/presentation/d/1V5cIWgL3YhIb-9-jNS5Wci9K4-CBqjYW7vhasAlmeqo/edit#slide=id.p',
        },
        {
          label: 'Node.js 安裝',
          url: 'https://docs.google.com/presentation/d/1AiHa7WkRxWQ79PcGYXLt7wSJtFtNNVQeYvECsvn0RB0/edit#slide=id.p',
        },
        {
          label: 'User Testing',
          url: 'https://docs.google.com/presentation/d/1RMncmdlexixsmG8VEnXRgWwjC9_9TQisfHDPT1DW2-8/edit#slide=id.p',
        },
        {
          label: '3D 建模',
          url: 'https://docs.google.com/presentation/d/1vL7-rZ1D02H9EakF31X9xQWDLHnkhLhJZqAi1Vy7TV8/edit#slide=id.p',
        },
      ],
    }
  }
}
</script>

<style scoped>
.card--wrapper {
  padding: 16px;
}
.article--wrapper {
  margin-top: 18px;
  margin-bottom: 18px;
}
.paragraph {
	margin-bottom: 4px;
}
.text--date {
	color: #616161;
}
.hr--split-content {
  width: 15%;
  text-align:center;
  margin: 0 auto;
}
.link--hide-decoration {
  text-decoration: none;
}
</style>
