<template>
  <div>
    <v-card class="card--wrapper">
      <h2 class="headline headline--margin-top">個人專案</h2>
      <hr>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">
          Next Meal 電子菜單</span>｜前後端
          <a class="link--hide-decoration" href="https://gitlab.com/lemon5920/nextmeal"><i class="fas fa-link"></i> Gitlab</a>
        </p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 四月 2018 - 二月 2019 | Taichung, Taiwan</p>
        <p class="paragraph">
          在服役期間，役男們需要負責每天訂購三餐，<br>
          在廣播訂餐後，分隊的人們紛紛打電話來訂餐，<br>
          但是大家的第一句話通常是：<strong>「這家有什麼好吃的？」</strong><br>
          然後就要在電話中把菜單上<strong>所有餐點念一次</strong>，<br>
          <strong>「如果可以有一個系統專門讓大家看菜單，大家看完再來訂餐該有多好？」</strong>因此這個系統誕生了。<br>
          這個系統的規模不算龐大，因此選擇使用規模彈性大的 Vue.js 來做開發，<br>
          介面想採用 Material Design 的風格，目標使用者的接受度較高，選擇使用 Vuetify 作為 Theme Framework，<br>
          資料類型較單純，所以選擇使用 Firebase 來做資料儲存，也節省維護後端的心力，<br>
          Database 使用 Cloud Firestore、圖片檔案使用 Storage 儲存。<br>
          <br>
          使用技術：
          <ul>
            <li>
              Vue.js、Firebase API、Git、Vuetify、Vuex、Vue Router、SPA
            </li>
          </ul>
        </p>
      </div>
      <hr class="hr--split-content">
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">
          DeliWater 埔里水公司送水系統</span>｜前端
        </p>
        <p class="paragraph text--date"><i class="far fa-calendar-alt"></i> 二月 2019 - Now | Taipei, Taiwan</p>
        <p class="paragraph">
          系統主要讓水公司能夠管理訂單、客戶，以及送水的司機資料，同時也能和客戶線上溝通，<br>
          另外也製作手機端的介面供司機使用，司機能即時查詢接下來的訂單派送資訊。<br>
          團隊工作上，採用 Scrum 進行開發，團隊成員遠端工作<br>
          一週為一個 Sprint，一個 Sprint 會有固定一次線上 Sync 與線上 Review/Plan，<br>
          前端以 Vue.js 開發，團隊撰寫風格使用 ESLint 規範，<br>
          介面上需要與 UI 密切討論切版與功能呈現，UI 會以 Adobe XD 展示想要的畫面，<br>
          資料串接上以 RESTful API 與後端溝通。<br>
          <br>
          使用技術：
          <ul>
            <li>
              Scrum、Vue.js、ESLint、Git、RESTful API、RWD、SPA
            </li>
          </ul>
        </p>
      </div>
    </v-card>
  </div>
</template>

<style scoped>
.card--wrapper {
  padding: 16px;
  margin-top: 24px;
}
.article--wrapper {
  margin-top: 18px;
  margin-bottom: 18px;
}
.paragraph {
	margin-bottom: 4px;
}
.text--date {
	color: #616161;
}
.hr--split-content {
  width: 15%;
  text-align:center;
  margin: 0 auto;
}
.link--hide-decoration {
  text-decoration: none;
}
</style>
