<template>
  <div>
    <v-card class="card--wrapper">
      <h2 class="headline">專業技能</h2>
      <hr>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">熟悉</span></p>
        <p class="paragraph text--date">
          HTML、CSS、Javascript ES6+、Vue.js、Vue-Router、Vuex、Vuetify、Bootstrap、RWD、SPA、Git、ESLint(Airbnb)
        </p>
      </div>
      <div class="article--wrapper">
        <p class="paragraph"><span class="title">略懂</span></p>
        <p class="paragraph text--date">
          Scrum、PM2、Firebase、Harp.js、EJS
        </p>
      </div>
    </v-card>
  </div>
</template>

<style scoped>
.card--wrapper {
  padding: 16px;
  margin-top: 24px;
}
.article--wrapper {
  margin-top: 18px;
  margin-bottom: 18px;
}
.paragraph {
	margin-bottom: 4px;
}
.text--date {
	color: #616161;
}
</style>
