<template>
  <v-app>
    <v-container grid-list-xl>
      <v-layout row wrap>
        <v-flex md4>
          <about></about>
        </v-flex>
        <v-flex md8>
          <experience></experience>
          <hr>
          <education></education>
          <hr>
          <side-project></side-project>
          <hr>
          <skills></skills>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import About from './components/About'
import Experience from './components/Experience';
import Education from './components/Education';
import SideProject from './components/SideProject';
import Skills from './components/Skills'

export default {
  name: 'App',
  components: {
    About,
    Experience,
    Education,
    SideProject,
    Skills,
  },
  data () {
    return {
      //
    }
  }
}
</script>
